body{
  padding-left: 10px;
}
input{
  border: 2px solid rgb(23, 0, 128);
  outline: none;
}
.box{
  width: 700px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h3, h6{
  margin: 0px;
}
.media{
  text-align: center;
  background-color: rgb(227, 233, 226);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  width: 500px;
  height: 70px;
}
.content{
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.control{
  color: white;
  background-color: rgb(3, 7, 119);
  border: 2px solid rgb(3, 7, 119);
}
.reset{
  color: white;
  background-color: black;
  border-radius: 3px;
}